* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,#root {
  height: 100%;
  width: 100%;
}

html{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  color: rgb(252, 248, 241);
  background-color: #0f0f0f;
}

.notes{
  display: flex;
  gap: 1rem;
  padding-block: 1.5rem;
  padding-inline: 3rem;
  flex-wrap: wrap;
}

.note{
  background-color: #5b5b5b;
  padding: 1.5rem;
  border-radius: 0.7rem;
  width: fit-content;
  max-width: 20rem;
}